@model ShivaEnterpriseWebApp.Model.Country

@{
    ViewData["Title"] = "AddorEdit";
}
<link href="~/css/company.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>@(Model != null && !string.IsNullOrEmpty(Model.Country_Id) ? "Edit Country" : "Add Country")</h2>
    <div class="card-body company_from">
        <div class="form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Country_Code" class="control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Country_Code" class="form-control" />
                </div>
                <span asp-validation-for="Country_Code" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Country_Name" class="control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Country_Name" class="form-control" />
                </div>
                <span asp-validation-for="Country_Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="IsActive" class="control-label"></label>
                <div class="col-md-6">
                    <input asp-for="IsActive" class="form-control" />
                </div>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <input asp-for="CreatedDateTime" class="form-control" type="hidden" />
            <input asp-for="CreatedBy" class="form-control" type="hidden" />
            <input asp-for="Country_Id" class="form-control" type="hidden" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @* <input type="button" value="Back to List" class="btn btn-info" asp-action="Index" asp-controller="Company"> *@
                <button type="button" class="btn btn-info"> <a asp-action="Index">Back to List</a></button>
            </div>
        </div>
    </div>

}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
