<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-profile mt-4">
            <a href="#">
                <div>
                    <div class="profile-thumb">
                        <img src="https://via.placeholder.com/36x36" alt="profile">
                    </div>
                    <div class="mt-2">
                        @* <h3 class="mb-1 profile-name">@(User != null && User.Identity != null ? User.Identity.Name : string.Empty)</h3>
                        <p class="profile-description">Admin</p> *@
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-company" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Company</span>
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="collapse" id="ui-company">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/"><b>Company</b></a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Branch">Branch</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false" aria-controls="ui-advanced">
                <span class="menu-title">Users</span>
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="collapse" id="ui-advanced">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="User">Users</a></li>
                    <li class="nav-item"> <a class="nav-link" href="Role">Roles Assign</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <span class="menu-title">Account</span>
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/Account">Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/AccountGroup">Account Group</a></li>
                    <li class="nav-item"><a class="nav-link" href="/AccountType">Account Type</a></li>
                    <li class="nav-item"><a class="nav-link" href="/AccountCategory">Account Category</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <span class="menu-title">Country</span>
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="Country">Country</a></li>
                    <li class="nav-item"> <a class="nav-link" href="State">State</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/city">City</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#editors" aria-expanded="false" aria-controls="editors">
                <span class="menu-title">Product</span>
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="collapse" id="editors">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="Product">Product</a></li>
                    <li class="nav-item"><a class="nav-link" href="ProductGroup">Product Group</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ProductCategory">Product Category</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ProductType">Product Type</a></li>
                </ul>
            </div>
        </li>
       @*  <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#taxdetail" aria-expanded="false" aria-controls="taxdetails">
                <span class="menu-title">Tax</span>
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="collapse" id="taxdetail">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="Tax">Tax</a></li>
                    @* <li class="nav-item"> <a class="nav-link" href="Tax_Class.html">Tax Class</a></li> *@
               @*  </ul>
            </div>
        </li> *@
        <li class="nav-item">
            <a class="nav-link" href="Tax">
                <span class="menu-title">Tax</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Transport">
                <span class="menu-title">Transport</span>
            </a>
        </li>
        @* <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <span class="menu-title">Transport</span>
                <i class="fas fa-chevron-down"></i>
            </a> *@
            @* <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="Transport">Transport Type</a></li> *@
                    @* <li class="nav-item"> <a class="nav-link" href="Transport_Series.html">Transport Series</a></li> *@
       @*          </ul>
            </div>
        </li> *@


        <li class="nav-item">
            <a class="nav-link" href="SalesmanAgent">
                <span class="menu-title">Salesman Agent</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ModeOfPayment">
                <span class="menu-title">Mode of Payment</span>
            </a>
        </li>
       @*  <li class="nav-item">
            <a class="nav-link" href="Bank">
                <span class="menu-title">Bank</span>
            </a>
        </li> *@
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <span class="menu-title">Purchase/Sales</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="Purchase.html">Purchase</a></li>
                    <li class="nav-item"> <a class="nav-link" href="Purchase_Return.html">Purchase Return</a></li>
                    <li class="nav-item"> <a class="nav-link" href="Sales.html">Sales</a></li>
                    <li class="nav-item"> <a class="nav-link" href="Sales_Return.html">Sales Return</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Counter.html">
                <span class="menu-title">Counter</span>
            </a>
        </li>
        @* <li class="nav-item">
            <a class="nav-link" href="Location.html">
                <span class="menu-title">Location</span>
            </a>
        </li> *@
        <li class="nav-item">
            <a class="nav-link" href="/Brand">

                <span class="menu-title">Brand</span>
            </a>
        </li>
        @* <li class="nav-item">
            <a class="nav-link" href="/Unit">

                <span class="menu-title">Unit</span>
            </a>
        </li> *@
        <li class="nav-item">
            <a class="nav-link" href="Receipt.html">

                <span class="menu-title">Receipt</span>
            </a>
        </li>
        @* <li class="nav-item">
            <a class="nav-link" href="Contra.html">

                <span class="menu-title">Contra</span>
            </a>
        </li> *@

       @*  <li class="nav-item">
            <a class="nav-link" href="Journal_Voucher.html">

                <span class="menu-title">Journal Voucher</span>
            </a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" href="Inward.html">

                <span class="menu-title">Inward</span>
            </a>
        </li>
        @* <li class="nav-item">
            <a class="nav-link" href="/Issue">

                <span class="menu-title">Issues</span>
            </a>
        </li>  *@
        <li class="nav-item">
            <a class="nav-link" href="Outward.html">

                <span class="menu-title">Outward</span>
            </a>
        </li>
        @* <li class="nav-item">
            <a class="nav-link" href="Production.html">

                <span class="menu-title">Production</span>
            </a>
        </li> *@
        <li class="nav-item">
            <a class="nav-link" href="Consumption.html">

                <span class="menu-title">Consumption</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Adjustment_Plus_Minus.html">

                <span class="menu-title">Inventory Managment</span>
            </a>
        </li>
        @* <li class="nav-item">
            <a class="nav-link" href="Transfer.html">

                <span class="menu-title">Transfer</span>
            </a>
        </li> *@
        @* <li class="nav-item">
            <a class="nav-link" href="Wastage.html">

                <span class="menu-title">Wastage</span>
            </a>
        </li> *@
        <li class="nav-item">
            <a class="nav-link" href="Opening_Stock.html">

                <span class="menu-title">Opening Stock</span>
            </a>
        </li>


</nav>
<!-- partial -->
