@model ShivaEnterpriseWebApp.Model.Company

@{
    ViewData["Title"] = "Edit";
}
<link href="~/css/company.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>Edit Company</h2>
    <div class="card-body company_from">
        <div class="form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Company_Code" class="control-label"></label>
                <div class="col-md-9">
                    <input asp-for="Company_Code" class="form-control" />
                </div>
                <span asp-validation-for="Company_Code" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Company_Name" class="control-label"></label>
                <div class="col-md-9">
                    <input asp-for="Company_Name" class="form-control" />
                </div>
                <span asp-validation-for="Company_Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Company_Startyear" class="control-label"></label>
                <div class="col-md-9">
                    <input asp-for="Company_Startyear" class="form-control" />
                </div>
                <span asp-validation-for="Company_Startyear" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Company_Endyear" class="control-label"></label>
                <div class="col-md-9">
                <input asp-for="Company_Endyear" class="form-control" />
                </div>
                <span asp-validation-for="Company_Endyear" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="IsActive" class="control-label"></label>
                <div class="col-md-9">
                    @* @Html.CheckBoxFor(model => model.IsActive) *@
                    <input asp-for="IsActive" class="form-control" />                    
                </div>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div> 
            @* <div class="form-group">
                <div class="checkbox">
                    <label><input asp-for="IsActive" type="checkbox" value="">@Html.DisplayNameFor(m => m.IsActive)</label>
                </div>
            </div> *@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @* <input type="button" value="Back to List" class="btn btn-info" asp-action="Index" asp-controller="Company"> *@
                <button type="button" class="btn btn-info"> <a asp-action="Index">Back to List</a></button>
            </div>            
        </div>
    </div>

}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
